:root {
  --bg: #212123;
  --dark: #191919;
  --dark-sea: #576067;
  --grey: #b8b8b8;
  --white: #fff;
  --violet: #8b57c6;
  --violet-dark: #6c3eb8;
  --light: #f6f6f7;
  --sea: #616e74;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 1.5rem;
}
